/* !combining the css for certifications page & certificate card component */

.certificate-disclaimer{
    text-align: center;
    color: var(--light-pink);
}

/* 711 px */
@media screen and (max-width: 711px){
    .certificate-disclaimer{
        font-size: 80%;
    }

    .verification-badge{
        font-size: 3rem;
    }
}

/* 405 px */

@media screen and (max-width: 405px) {
    .certificate-disclaimer{
        display: flex;
        justify-content: center;
        font-weight: 900;
    }
}