/* !combining the css for certifications page & certificate card component */

.custom-figure-content:hover .certificate-disclaimer{
    color: var(--light-pink);
    font-style: italic;
}

.certificate-disclaimer{
    text-align: center;
}

/* 711 px */
@media screen and (max-width: 711px){
    .certificate-disclaimer{
        font-size: 80%;
    }

    .verification-badge{
        font-size: 3rem;
    }
}

/* 405 px */

@media screen and (max-width: 405px) {
    .certificate-disclaimer{
        display: flex;
        justify-content: center;
        font-weight: 900;
    }
}