.page-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    text-align: center;
    color: var(--light-blue);
    width: 100%;
    background-color: var(--shade4);
}

.page-title-text {
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--trans-shade4);
}