.portfolio-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
}

.custom-figure {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 3%;
    background-size: cover;
    background-attachment: fixed;
}
.project-row{
    width: 50%;
}

.alt-color{
    color: var(--light-pink);
}

.content-container {
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
color: var(--light-blue);
}

.custom-figure-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.project-title {
    font-family: var(--distressed);
    text-align: center;
}

.project-content {
    text-align: center;
}

.project-icon-container {
    font-size: 4.5rem;
}

.project-icon-container a {
    margin-left: 5px;
    margin-right: 5px;
    /* unset the <a> tag link styling for the color so it will inherit the transparency until the entire div is shown on hover */
    color: unset;
}

.project-icon-container a:hover {
    cursor: pointer;
    color: var(--light-pink);
}

/* 1200 px */

@media screen and (max-width: 1200px){
    .custom-figure {
        flex-flow: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .project-row {
        width: 100%;
    }
}
/* 711 px */
@media screen and (max-width: 711px) {

    /* .custom-figure {
        width: 400px;
        height: 200px;
    } */
    .project-title {
        font-size: 130%;
    }
    
    .project-content {
        font-size: 80%;
    }

    .project-icon-container {
        font-size: 1.5rem;
    }
}